body{
    margin-left: 0px;
}
#timer{
    display: flex;
}
#container{
    position:absolute;
    height: 300px;
    width: 700px;
    background-color : grey;
}

#runner{
    position: absolute;
    bottom:0px;
    left:40px;
}

#roadContainer{
    position: absolute;
    bottom: 0px;
    width: 1200px;
}

.road{
    position: relative;
    float: left;
}
